.stepProgess {
    width:400px;
    height:100px;
}
.stepItem{
    width:50px;
    height:50px;
    background-color: white;
    border: 2px solid white;
    border-radius: 50%;
    float: left;
    margin-left:62.5px;
    margin-top: 25px;
    position: relative;
    &::after{
        content: '';
        margin-top: 25px;
        position: absolute;
        width:115px;
        height:4px;
        background-color: white;
        display: block;
        z-index: -1;
    }
}
.stepItem.active:first-child {
    background-color: #71DAC8; 
    transition:none;
}
.stepItem.active {
    
    background-color: #71DAC8;
    transition: background 2s ease-out;
    
}
.stepItem.active::after{
    background-color: #71DAC8;
    transition: 2s;
}
fieldset {
    width: 100%;
    position: relative;
}
fieldset:not(:first-of-type){
    display: none;
}