@import 'button.scss';
@import 'stepProgess.scss';
.preload * {
    transition: none !important;

  }
body{
    // background-image: url("../img/background.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;

    background: #348F50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #56B4D3, #348F50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #56B4D3, #348F50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.main {
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    
}
.form{
    width: 100%;
    height: 100%;
    
    
}
.login {
    width: 100%;
    height: 100%;
    display: none;

    
   
}
.createAccount{
    width: 100%;
    height: 100%;
    display: block;

}
.group{
    width: 400px;
    height:400px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
}

.group-input{
    position: relative;

}
input::placeholder {
    color: #CCCCCC;
  }
.txt-user {
    margin-top: 20px;
    border-radius: 6px;
    width: 300px;
    height:50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    display: block;
    outline: none;
    border: none;
    font-size: 18px;
    color: #6BD18A;
    
    
}
.txt-pass {
    margin-top: 20px;
    border-radius: 6px;
    width: 300px;
    height:50px;
    
    padding-left: 10px;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    font-size: 18px;
    color: #6BD18A;
}
.h-tile{
    font-size: 30px;
    width:300px;
    height:24px;
    display: block;
    margin-top: 40px;
    color: white;
    
}

label{
    padding-top: 0px;
    font-size: 12px;
}
.group-checkbox{
    width: 300px;
    height:50px;
    margin-left:auto;
    margin-right: auto; 
    display: block;
    margin-top: 10px;
    .checkbox {
        width:25px;
        height:25px;
        background-color: white;
        float: left;
        border: 3px solid #969292;
        transition: 0.8s;
    }
    .checked {
        background-color:#0084ff; 
        border: 3px solid #0084ff;
        transition: 0.8s;
    }
   
    .text-checkbox {
        margin-left: 10px;
        float: left;
        margin-top: 5px;
        color: white;
    }
}
.text-create{
    width: 300px;
    height:50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    padding-left: 100px;
}
p{
    width: auto;
    float: left;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
.textCreate {
    color: #C9C9C9;

}
a {
    color: white;
    text-decoration: none;
}